#banner
  .banner_content
    %h1 File=>Cabinet
    %p Your life's work. Organized, Always.
    = link_to "Enter", new_user_registration_path, class: "button"

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem aliquip labore knausgaard affogato, subway tile gluten-free. Irony echo park vape reprehenderit whatever. Poke next level sunt succulents, esse subway tile snackwave. Echo park intelligentsia pok pok, 90's polaroid sint woke ennui edison bulb cold-pressed cardigan cliche paleo craft beer. Lyft swag pok pok taxidermy man braid coloring book selvage aliqua activated charcoal la croix knausgaard. Lorem kinfolk cold-pressed try-hard. Vape helvetica green juice swag iceland hell of ad vegan adipisicing crucifix enim mumblecore. Live-edge pok pok hell of, ethical skateboard cliche stumptown chia tumblr adipisicing normcore pug disrupt affogato. Hell of kitsch distillery, do unicorn tousled raclette hammock direct trade.

#botton_cta
  .wrapper
    %h2 Go Ahead!
    %br
    = link_to "Join Now", new_user_registration_path, class: "button"