#banner
  .banner_content
    %h1 your_FILE_keeper
    %p Your life's work. Organized, Always.your_FILE_keeper is a "ruby on rails" web app dezigned for presentation porposes.Is an app that you can store your work!(files) and gain istant access on the web.It can hundle many users in a friendly and easy enviroment.Sign in so gain full access!@#
    = link_to "Enter", new_user_registration_path, class: "button"
    %h3 find me:
    = link_to "Github", "https://github.com/xNos33"
    %br
    = link_to "FB", "https://www.facebook.com/xnos.xnos"

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem aliquip labore knausgaard affogato, subway tile gluten-free. Irony echo park vape reprehenderit whatever. Poke next level sunt succulents, esse subway tile snackwave. Echo park intelligentsia pok pok, 90's polaroid sint woke ennui edison bulb cold-pressed cardigan cliche paleo craft beer. Lyft swag pok pok taxidermy man braid coloring book selvage aliqua activated charcoal la croix knausgaard. Lorem kinfolk cold-pressed try-hard. Vape helvetica green juice swag iceland hell of ad vegan adipisicing crucifix enim mumblecore. Live-edge pok pok hell of, ethical skateboard cliche stumptown chia tumblr adipisicing normcore pug disrupt affogato. Hell of kitsch distillery, do unicorn tousled raclette hammock direct trade.

#botton_cta
  .wrapper
    %h2 Go Ahead!
    %br
    = link_to "Join Now", new_user_registration_path, class: "button"