<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Dear visitor</h1>
		<p>If you belong_to :pentesters "family" feel free to test your abilitys, but dont damage this Site because i use it for my Portfolio</p>
		<h2>permision granded!#@</h2>
	</div>
</div>