<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Dear visitor</h1>
		<h3> find me:</h3>
        <%= link_to "Github", "https://github.com/xNos33", class: "btn btn-danger" %>
        
        <%= link_to "FB", "https://www.facebook.com/xnos.xnos", class: "btn btn-danger" %>
		<p>If you belong_to :pentesters "family" feel free to test your abilitys, but dont damage this Site because i use it for my Portfolio</p>
		<h2>permision granded!#@</h2>
	</div>
</div>