
// STYLING FOR WELCOME PAGE

#banner {
	/*background-image: url(image_path("type6.png"));*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 500px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			/*@include bold_font;*/
			color: #529ECC;
			font-family: 'Libre Barcode 39 Text', cursive;
			font-size: 5.5rem;
			margin: 0;
		}
		p {
			font-size: 2.0rem;
			font-family: 'Special Elite', cursive;
			margin: 0 0 2.5rem 0;
			color: #333333;
		}
	}
}

#testimonial {
	text-align: center;
	font-size: 1.5rem;
	color: #afb0b0;
	padding: 3.5rem 0;
	.quote {
		margin: 0 0 .5rem 0;
	}
	.name {
		/*@include bold_font;*/
		color: #4d4d4d;
		margin: 0;
		font-size: .85rem;
	}
}

#callouts {
	background-image: image-url("type5.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	/*min-*/height: 320px;
	display: table;
	.callout_inner {
		display: table-cell;
		vertical-align: middle;
	}
	.callout {
		text-align: center;
		font-family: 'Special Elite', cursive;
		width: 100%;
		padding: 1.5rem 2.5%;
		float: left;
		h2 {
			/*@include bold_font;*/
			color: #1fada6;
			font-family: 'Special Elite', cursive;
			margin-bottom: 0;
		}
		p {
			color: #00ff00;
			/*font-size: 1.5rem;*/
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		/*@include bold_font;*/
		color: #4d4d4d;
		font-size: 3rem;
		margin: 0;
		font-family: 'Special Elite', cursive;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}